.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    
    &_head {
        text-align: left;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .ant-table {
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}